.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; 
}
    
.card-img-top {
    height: 50vw;
    object-fit: cover;
}
      
@media (min-width: 576px) {
.card-deck {
    display: block;
    margin-right: 15;
    margin-left: -15;
}
}
      
@media (min-width: 768px) {
.card-img-top {
    height: 15vw;
}
}
      
.card-deck {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
* {box-sizing: border-box}
